/*
RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
COMMON
*/
body {
  background-color: #083b4c;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*
UTILITY
*/
.titolo {
  margin: 30px 0;
  color: white;
  font-size: 80px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
}

.box {
  margin: 0 40px;
  display: flex;
  flex-wrap: wrap;
}

.box > div {
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: #1389b2;
  text-align: center;
  line-height: 100px;
}

.box > div.fizz {
  background-color: #0cd6a1;
}

.box > div.buzz {
  background-color: #ffd166;
}

.box > div.fizzbuzz {
  background-color: #f0466f;
}

.fizz,
.buzz,
.fizzbuzz {
  border-radius: 10px;
}
